.chips {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;
  &__btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #434343;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 24px;
    background: #f4f4f4;
    border-radius: 18px;
    border: none;
    margin-right: 8px;
    transition: all 0.2s linear;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: #fff;
      background: #fb9155;
      transition: all 0.2s linear;
    }
  }
  .active {
    color: #fff;
    background: #eb6012;
    transition: all 0.1s linear;
    &:hover {
      color: #fff;
      background: #cb540f;
      transition: all 0.2s linear;
    }
  }
}

@media (max-width: 625px) {
  .chips {
    margin-bottom: 0;
    &__btn {
      font-size: 11px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }
}
