.textInput {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 8px 16px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 99fr 1fr;
  grid-column-gap: 10px;
  align-items: center;
  background-color: #fff;
  input {
    border: none;
    outline: none;
    &::placeholder {
      color: #7d7d7d;
    }
  }
}

@media (max-width: 625px) {
  .textInput {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}
